---
import { getCollection, getEntry } from "astro:content";
import PageLayout from "../../layouts/PageLayout.astro";
import Card from "../../components/Card.astro";
import headerImage from "../../assets/images/beach-830-830.webp";

const { data, render } = await getEntry("pages", "blog");
const blogEntries = (await getCollection("blogs")).reverse();
const { Content } = await render();
---

<PageLayout
  title={data.heading}
  banner={{
    heading: data.heading,
    subheading: data.subheading,
    imgSrc: headerImage,
    imgAlt: "Picture of beach",
    imgWidth: 350,
    imgHeight: 350,
  }}
  showSideNav={false}
>
  <article class="prose mb-8">
    <Content />
  </article>
  <div class="max-w-1xl">
    {
      blogEntries.map((entry) => (
        <a title={entry.data.title} href={`/blog/${entry.slug}`}>
          <Card
            heading={entry.data.title}
            subheading={entry.data.date}
            imgSrc={entry.data.cover}
          >
            <p>{entry.body.slice(0, 200)}...</p>
          </Card>
        </a>
      ))
    }
  </div>
</PageLayout>
