---
import { Image } from "astro:assets";

interface Props {
  heading: string;
  subheading: string;
  imgSrc: string;
  imgAlt: string;
  imgWidth: number;
  imgHeight: number;
}

const { props } = Astro;
---

<div class="md:flex max-w-4xl items-center gap-9 my-10 md:my-20 mx-10">
  <Image
    class="mx-auto mb-5 md:mb-0 rounded-3xl"
    src={props.imgSrc}
    alt={props.imgAlt}
    width={props.imgWidth}
    height={props.imgHeight}
  />
  <div class="text-center md:text-left">
    <h1 class="text-5xl md:text-8xl">{props.heading}</h1>
    <h2 class="text-2xl text-slate-600">{props.subheading}</h2>
  </div>
</div>
