---
import { Image } from "astro:assets";

interface Props {
  heading: string;
  subheading?: string;
  imgSrc: string;
  imgAlt: string;
  imgWidth: number;
  imgHeight: number;
}

const { props } = Astro;
---

<div class="lg:flex max-w-4xl items-center gap-9 my-10 md:my-20 mx-10">
  <Image
    class="mx-auto mb-5 lg:mb-0 rounded-3xl shadow-lg"
    src={props.imgSrc}
    alt={props.imgAlt}
    width={props.imgWidth}
    height={props.imgHeight}
    loading="eager"
  />
  <div class="text-center lg:text-left">
    <h1
      class="text-5xl md:text-7xl lg:text-8xl tracking-tight font-extrabold inline"
    >
      {props.heading}
    </h1>
    <slot />
    {
      props.subheading && (
        <h2 class="text-2xl text-slate-600 tracking-tight font-semibold my-3">
          {props.subheading}
        </h2>
      )
    }
  </div>
</div>
